.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.section {
  width: 250px;
  padding: 20px;
  border-right: 5px solid green;
}

.section:last-child {
  border-right: none;
}